<!DOCTYPE html>
{% load static %}

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>LogistikGO | Cuentas por pagar</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href='{% static "css/font-awesome.min.css" %}' rel="stylesheet" type="text/css" />
    <link href='{% static "css/simple-line-icons.min.css" %}' rel="stylesheet" type="text/css" />
    <link href='{% static "css/bootstrap.min.css" %}' rel="stylesheet"/>

    <link href='{% static "css/bootstrap-switch.min.css" %}' rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->

    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link href='{% static "css/all.css" %}' rel="stylesheet" type="text/css"/>
    <link href='{% static "css/red.css" %}'  rel="stylesheet" />
    <link href='{% static "css/select2-bootstrap.min.css" %}'  rel="stylesheet"/>
    <link href='{% static "css/select2.min.css" %}' rel="stylesheet" />
    <!-- END PAGE LEVEL PLUGINS -->

    <!-- BEGIN THEME GLOBAL STYLES -->
    <link href='{% static "css/components-md.min.css" %}'  rel="stylesheet" id="style_components" type="text/css"/>
    <link href='{% static "css/plugins-md.min.css" %}' rel="stylesheet" type="text/css" />
    <!-- END THEME GLOBAL STYLES -->

    <!-- BEGIN THEME LAYOUT STYLES -->
    <link href='{% static "css/layout.min.css" %}'  rel="stylesheet" type="text/css"/>
    <link href='{% static "css/default.css" %}' rel="stylesheet" type="text/css" id="style_color" />
    <link href='{% static "css/custom.min.css" %}' rel="stylesheet" type="text/css" />
    <!-- END THEME LAYOUT STYLES -->
    <link rel="shortcut icon" href='{% static "img/LogistiKGO-06.ico" %}'/>

    <link href='{% static "css/hotsnackbar.css" %}' rel="stylesheet" />
    <script type="text/javascript" src='{% static "js/hotsnackbar.js" %}'></script>
    <link href='{% static "css/sweetalert2.min.css" %}' rel="stylesheet" />
    <link href='{% static "css/waitMe.css" %}' rel="stylesheet" />
    <style>
        input:focus {
            box-shadow: inset 0px 0px 8px 2px #578ebe !important;
        }
    </style>

    <link href='{% static "css/login-4.css" %}' rel="stylesheet" />

    <!--    <link href="css/Brockeraje.css" rel="stylesheet" />-->
</head>
<body class="login">
    <!-- BEGIN LOGIN -->
    <div class="content" id="divLogin">
        <div id="divAlertDemo" hidden="true" class="alert alert-danger alert-borderless text-center" role="alert"><i class="fa fa-info-circle"></i><strong>&nbsp;VERSIÓN DEMO (ESTA VERSIÓN ES DE PRUEBA)</strong></div>
        <div id="divAlertDebug" hidden="true" class="alert alert-info alert-borderless text-center" role="alert"><i class="fa fa-info-circle"></i><strong>&nbsp;VERSIÓN DEBUG (ESTA VERSIÓN ES DE DESARROLLO)</strong></div>

        <!-- BEGIN LOGO -->
        <div class="logo">
            <a href="#">
                <img class="logo-modified" src='{% static "img/logo-Pagar.png" %}'alt="" />
            </a>
        </div>
        <!-- END LOGO -->
        <!-- BEGIN LOGIN FORM -->

        <form class="login-form" action="" method="post" runat="server">
        {% csrf_token %}

            <h4 class=" form-title bold">Conectamos la logística</h4>

            <div id="divAlert" class="alert display-hide">
                <button class="close" data-close="alert"></button>
                <span class="fa fa-warning"></span>&nbsp;<bold id="lblErrorAlert"></bold>
            </div>

            <div id="divAlertCorreo" class="alert alert-success display-hide">
                <button class="close" data-close="alert"></button>
                <span></span>&nbsp;Se ha enviado un correo con la contraseña restablecida, favor de revisar tu bandeja.
            </div>

            <div class="form-group">
                <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                <label class="control-label visible-ie8 visible-ie9">Usuario</label>

                <div class="input-icon">
                    <i>
                        <img src='{% static "img/usuario18x18.png" %}'/></i>
                    <!--<asp:TextBox ID="txtUsuario" runat="server" CssClass="form-control placeholder-no-fix" PlaceHolder="  Ingresa tu usuario o correo"></asp:TextBox>-->
                    {{form.username}}
                    <!--<input id="txtUsuario" name="txtUsuario" class="form-control  placeholder-no-fix" type="text" placeholder="  Ingresa tu usuario" />-->
                </div>
            </div>
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">Contraseña</label>

                <div class="input-icon">
                    <i>
                        <img src='{% static "img/contrasena18x18.png" %}'/></i>
                    <!--<asp:TextBox ID="txtContrasena" runat="server" CssClass="form-control  placeholder-no-fix" TextMode="Password" PlaceHolder="  Ingresa tu contraseña"></asp:TextBox>-->
                    {{form.password}}
                    <!--<input id="txtContrasena" name="txtContrasena" class="form-control  placeholder-no-fix" type="password" placeholder="  Ingresa tu contraseña" />-->
                </div>
            </div>

            <div class="text-center">
                <!--<asp:LinkButton ID="btnLogin" runat="server" CssClass=" btn blue-madison btn-block" OnClick="btnLogin_Click" ClientIDMode="Static">Inicio de Sesión</asp:LinkButton>-->
                <button id="btnLogin" class=" btn blue-madison btn-block" type="submit">Inicio de sesión</button>
            </div>

            <div class="forget-password">
                <p>
                    ¿Olvidaste tu contraseña? Da click
                    <a href="javascript:;" id="forget-password" class="text-success font-blue-madison">aquí. </a>
                </p>
            </div>
        </form>


        <!-- END LOGIN FORM -->
        <!-- BEGIN FORGOT PASSWORD FORM -->
        <form class="forget-form" name="formForget">
            <h4 class="bold">¿Olvidaste tu contraseña?</h4>
            <p class="form-title font-white" style="text-align: center;">Ingresa tu usuario o correo electrónico asignado por el sistema</p>
            <div id="divAlertInexistente" class="alert alert-danger display-hide">
                <button class="close" data-close="alert"></button>
                <span class="fa fa-warning"></span>&nbsp;El usuario o el correo electrónico no existe en el sistema. Intente de nuevo
            </div>
            <div class="form-group">
                <div class="input-icon">
                    <i>
                        <img src='{% static "img/Mensaje18x18.png" %}'/></i>
                    <input id="txtUsuarioContrasena" name="txtUsuarioContrasena" class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Email" name="email" />
                </div>
            </div>
            <div class="form-actions">
                <button type="button" id="back-btn" class="btn btn-sm btn-regresar">Regresar </button>
                <button type="button" id="btnEnviarContrasena" class="btn btn-md btn-enviar pull-right">Enviar </button>
            </div>
        </form>


    </div>

    <!-- End Modal update password -->

    <!-- BEGIN CORE PLUGINS -->
    <script src='{% static "js/jquery-3.4.1.min.js" %}'></script>
    <script src='{% static "js/bootstrap.min.js" %}'></script>
    <!-- END CORE PLUGINS -->
    <script src='{% static "js/waitMe.js" %}'></script>
    <script src='{% static "js/form-validation-md.min.js" %}'></script>
    <script src='{% static "js/jquery.validate.min.js" %}'></script>
    <script src='{% static "js/jquery.backstretch.min.js" %}'></script>
    <!-- BEGIN PAGE LEVEL PLUGINS -->

    <!-- END THEME GLOBAL SCRIPTS -->

    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src='{% static "js/login-4.js" %}'></script>
<script src='{% static "js/pages/FuncionesDinamicasCxP.js" %}'></script>

    <script type="text/javascript">
            $(function() {
                $('#id_username').addClass('form-control');
                $('#id_username').attr("placeholder", " Ingresa tu usuario o correo");
                $('#id_password').addClass('form-control');
                $('#id_password').attr("placeholder", " Ingresa tu contraseña");
            });
    </script>


</body>

</html>
