<table class="table table-striped table-bordered" id="TableReportePagos">
	<thead>
		<tr>
			<th>Folio Pago</th>
			<th>Proveedor</th>
			<th>Fecha Cobro</th>
			<th>Total</th>
			<th>Folio Factura</th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		{% for Cobro in Cobros %}
		<tr>
			<td>{{Cobro.Folio}}</td>
			<td>{{Cobro.NombreCortoProveedor}}</td>
			<td>{{Cobro.FechaPago|date:'Y/m/d'}}</td>
			<td>{{Cobro.Total|floatformat:"2"}}</td>
			<th></th>
			<td></td>
			<td></td>
		</tr>
		{%endfor%}
	</tbody>
</table>
