{% load humanize %}
{% load Tags_EstadosCuenta %}
<table class="table table-striped table-bordered" id="TableReportePagos">
	<thead>
		<tr>
			<th>Folio Pago</th>
			<th>Proveedor</th>
			<th>Fecha Pago</th>
			<th>Total</th>
			<th>Folio Factura</th>
			<th>Comentarios</th>
			<th>XML</th>
			<th>PDF</th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		{% for Pago in Pagos %}
		<tr data-idpago="{{Pago.IDPago}}">
			<td style="font-weight: bold;" class=" text-center bold"><a data-toggle="modal" href="#detallesPago" class="btnDetallePago" data-backdrop="static">{{Pago.Folio}}</a></td>
			<td>{{Pago.NombreCortoProveedor}}</td>
			<td>{{Pago.FechaPago|date:'Y/m/d'}}</td>
			<td>${{Pago.Total|floatformat:"2"|intcomma}}</td>
			<th>{{Folios|index:forloop.counter0}}</th>
			<th>{{Pago.Comentarios}}</th>
			<td>{{Pago.RutaXML}}</td>
			<td>{{Pago.RutaPDF}}</td>
			<td>{{Pago.RutaComprobante}}</td>
			<td></td>
			<td></td>
			<td><input name="IDPago" type="hidden" data-pagoid="{{Pago.IDPago}}" data-americano="{{Pago.IDProveedor.IsAmericano}}"></td>
		</tr>
		{%endfor%}
	</tbody>
</table>
