{% extends "Base.html" %}
{% load static %}
{% block activateReporteFacturas %}
kt-menu__item--active
{% endblock %}

{% block ContadoresReporteFacturas %}
<div class="kt-subheader kt-grid__item">
	<div class="kt-container  kt-container--fluid ">
		<div>
			<span class="badge badge-pill badge-success">Pagadas<span class="badge badge-pill badge-secondary"><strong>12</strong></span></span>
			<span class="badge badge-pill badge-info">Abonadas<span class="badge badge-pill badge-secondary"><strong>12</strong></span></span>
			<span class="badge badge-pill badge-danger">Canceladas<span class="badge badge-pill badge-secondary"><strong>12</strong></span></span>
		</div>
		<div class="kt-header__topbar-item kt-header__topbar-item--quick-panel" data-toggle="kt-tooltip" title="Filtros" data-placement="right">
			<span class="kt-header__topbar-icon" id="kt_quick_panel_toggler_btn">
				<button type="button" class="btn btn-brand btn-elevate btn-pill btn-elevate-air btn-md" id="BtnOpenFiltros">Filtros</button>
			</span>
		</div>
	</div>
</div>
{% endblock %}


{% block FiltrosReporteFacturas %}
<div id="kt_quick_panel" class="kt-quick-panel">
	<div class="kt-quick-panel__content">
		<div class="tab-content">
			<div class="tab-pane fade show kt-scroll active" id="kt_quick_panel_tab_notifications" role="tabpanel">
				<div class="kt-notification">
					<div class="container">
						<div class="form-group row">
							<label class="col-8 col-form-label"><strong>Fecha por mes y año</strong></label>
							<div class="col-sm-12 col-md-4 col-lg-3">
								<span class="kt-switch kt-switch--outline kt-switch--icon kt-switch--info">
									<label>
										<input type="checkbox" id="chkMonthYear" name="fechaxMesyAño">
										<span></span>
									</label>
								</span>
							</div>
						</div>
					</div>
					<div class="container" id="filtroxMesyAno">
						<div class="row form-group">
							<div class="col-md-7">
								<label><strong>Mes:</strong></label>
								<select class="selectpicker btn-xs btn" id="filtroxMes" multiple title="Mes" data-width="100%" data-live-search="true">
									<option value="1">Enero</option>
									<option value="2">Febrero</option>
									<option value="3">Marzo</option>
									<option value="4">Abril</option>
									<option value="5">Mayo</option>
									<option value="6">Junio</option>
									<option value="7">Julio</option>
									<option value="8">Agosto</option>
									<option value="9">Septiembre</option>
									<option value="10">Octubre</option>
									<option value="11">Noviembre</option>
									<option value="12">Diciembre</option>
								</select>

							</div>
							<div class="col-md-5">
								<label><strong>Año:</strong></label>
								<select class="selectpicker btn-xs btn" id="filtroxAno" title="Año" data-width="100%" data-live-search="true">
									<option value="2020">2020</option>
									<option value="2019">2019</option>
									<option value="2018">2018</option>
									<option value="2017">2017</option>
									<option value="2016">2016</option>
								</select>
							</div>
						</div>
					</div>
					<div class="kt-subheader__main">
						<label class="col-form-label col-lg-3 col-sm-12"><strong>Fecha: </strong></label>
						<div class="col-lg-12 col-md-8 col-sm-12">
							<div class="kt-input-icon pull-right" id='kt_daterangepicker_2_modal'>
								<input type="text" class="form-control " placeholder="Desde - Hasta" name="filtroFechaReporteFacturas" id="cboFechaDescarga">
								<span class="kt-input-icon__icon kt-input-icon__icon--right"><span><i class="la la-calendar-check-o"></i></span></span>
							</div>
						</div>
					</div>

					<label class="col-form-label col-lg-3 col-sm-12"><strong>Estatus: </strong></label>
					<div class="container">
						<select class="selectpicker" id="cboStatus" multiple name="Status" title="Selecciona un estatus" data-width="100%" data-live-search="true">
							<option>Pendiente</option>
							<option>Abonada</option>
							<option>Pagadas</option>
							<option>Canceladas</option>
						</select>
					</div>

					<div class="container py-4">
						<label class="col-form-label col-lg-3 col-sm-12"><strong>Proveedor: </strong></label>
						<div>
							<select class="selectpicker" id="cboProveedor" multiple name="Proveedor" title="Selecciona un proveedor" data-width="100%" data-live-search="true">
								<option value="Eaton">Eaton</option>
								<option value="3M">3M</option>
							</select>
						</div>
					</div></br>

					<div class="container ">
						<label class="col-form-label col-lg-3 col-sm-12"><strong>Moneda: </strong></label>
						<div class="form-check form-check-inline">
							<label class="kt-radio kt-radio--bold kt-radio--success">
								<input type="checkbox" id="rdMXN" name="radio6" checked> MXN
								<span></span>
							</label>
						</div>
						<div class="form-check form-check-inline">
							<label class="kt-radio kt-radio--bold kt-radio--brand">
								<input type="checkbox" id="rdUSD" name="radio6" checked> USD
								<span></span>
							</label>
						</div>
					</div>


					<div class="container py-4">
						<div class="row justify-content-between">
							<div class="col-4">
								<button type="Submit" name="button" class="btn btn-brand btn-elevate btn-pill btn-elevate-air btn-sm float-right" id="btnAplicarFiltro">Aplicar</button>
							</div>
							<div class="col-4">
								<button type="button" name="button" class="btn btn-danger btn-elevate btn-pill btn-elevate-air btn-sm" id="kt_quick_panel_close_btn">Cancelar</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="tab-pane kt-quick-panel__content-padding-x fade kt-scroll" id="kt_quick_panel_tab_settings" role="tabpanel">
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block ReporteFacturas %}

<div class="kt-subheader   kt-grid__item" id="kt_subheader">
	<div class="kt-container  kt-container--fluid ">
		<div class="kt-subheader__toolbar">
			<div class="kt-subheader__wrapper">
				<h3>Reporte de facturas</h3>
			</div>
		</div>
	</div>
</div>

<div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">
	<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
		<div class="kt-portlet kt-portlet--fit kt-portlet--head-noborder" id="TbPading">
			{% include "TablaReporteFacturas.html" %}
		</div>
	</div>
</div>
{% endblock %}

{% block scripts %}
<script src='{% static "js/pages/ReporteFacturas.js" %}' type="text/javascript"></script>
<script src='{% static "js/es_ES.min.js" %}'></script>
{% endblock %}
