{% load humanize %}
<table class="table table-striped table-bordered" id="TableReporteFacturas">
	<thead>
		<tr>
			<th>Folio Factura</th>
			<th>Proveedor</th>
			<th>Fecha Factura</th>
			<th>Subtotal</th>
			<th>IVA</th>
			<th>Retencion</th>
			<th>Total</th>
			<th>Status</th>
			<th>Folio viaje</th>
			<th>Folio Pago</th>
		</tr>
	</thead>
	<tbody>
		{% for Factura in Facturas %}
		<tr>
			<td style="font-weight: bold;">{{Factura.Folio|safe}}</td>
			<td>{{Factura.Proveedor|safe}}</td>
			<td>{{Factura.FechaFactura|date:'Y/m/d'|safe}}</td>
			<td>${{Factura.Subtotal|floatformat:"2"|intcomma|safe}}</td>
			<td>${{Factura.IVA|floatformat:"2"|intcomma|safe}}</td>
			<td>${{Factura.Retencion|floatformat:"2"|intcomma|safe}}</td>
			<td>${{Factura.Total|floatformat:"2"|intcomma|safe}}</td>
			<td>{{Factura.Status|safe}}</td>
			<td>{{Factura.Viajes|safe}}</td>
			<td></td>
		</tr>
		{%endfor%}
	</tbody>
</table>
