<table class="table table-striped table-bordered" id="TableReportePagosCancelados" style="width: 100%">
	<thead>
		<tr>
			<th>Folio pago</th>
			<th>Proveedor</th>
			<th>Usuario</th>
			<th>Fecha Pago</th>
			<th>Fecha cancelacion</th>
			<th>Subtotal</th>
			<th>Iva</th>
			<th>Retencion</th>
			<th>Total</th>
			<th>Folio Factura</th>
		</tr>
	</thead>
	<tbody>
		{% for Factura in Facturas %}
		<tr>
			<td>{{Factura.Folio}}</td>
			<td>{{Factura.Proveedor}}</td>
			<td></td>
			<td>{{Factura.FechaFactura|date:'Y/m/d'}}</td>
			<td>{{Factura.FechaBaja|date:'Y/m/d'}}</td>
			<td>{{Factura.Subtotal|floatformat:"2"}}</td>
			<td>{{Factura.IVA|floatformat:"2"}}</td>
			<td>{{Factura.Retencion|floatformat:"2"}}</td>
			<td>{{Factura.Total|floatformat:"2"}}</td>
			<td>{{Factura.Viajes}}</td>
		</tr>
		{%endfor%}
	</tbody>
</table>
