<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href='{% static "css/404.css" %}'>
  <title>404</title>
</head>
<body>
<div class="noise"></div>
 <div class="overlay"></div>
 <div class="terminal">
   <h1>Error <span class="errorcode">404</span></h1>
   <p class="output">Página no encontrada.</p>
   <p class="output">Por favor intenta  <a href="{% url 'PendienteEnviar' %}">regresar a la página anterior</a> o <a href="{% url 'PendienteEnviar' %}">regresar a la página principal</a>.</p>
   <p class="output">Gracias</p>
 </div>
</body>
</html>
