{% load static %}
{% load humanize %}
{% load Tags_EstadosCuenta %}
<div class="kt-subheader   kt-grid__item" id="kt_subheader">
	<div class="kt-container  kt-container--fluid ">
		<div class="kt-subheader__toolbar">
			<div class="kt-subheader__wrapper">
				<h3>Estados de cuenta</h3>
			</div>
		</div>
	</div>
</div>


<div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">
		<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
			<div class="kt-portlet kt-portlet--fit kt-portlet--head-noborder" id="TbPading">
				<div class="kt-subheader__wrapper">
					<button type="button" id="btnSubirPagos" class="btn btn-brand btn-elevate btn-pill btn-elevate-air btn-sm float-right" data-toggle="modal" data-target="#modalSubirPagos" data-backdrop="static" data-keyboard="false" disabled>Subir Pago</button>
				</div></br>
			<table class="table table-striped table-bordered nowrap" id="TableEstadosdeCuenta" style="width:100%;">
				<thead>
					<tr>
						<th></th>
						<th>Folio</th>
						<th>Proveedor</th>
						<th>Fecha Factura</th>
						<th>Subtotal</th>
						<th>IVA</th>
						<th>Retencion</th>
						<th>Total</th>
						<th>Balance</th>
						<th>Moneda</th>
						<th>Estatus</th>
						<th>Pagos</th>
						<th></th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{% for Factura in Facturas %}
					<tr data-IDFactura="{{Factura.IDFactura|safe}}" data-isautorizada = "{{Factura.IsAutorizada}}">
						<td></td>
						<td style="font-weight: bold;">{{Factura.Folio|safe}}</td>
						<td>{{Factura.Proveedor|safe}}</td>
						<td>{{Factura.FechaFactura|date:'Y/m/d'|safe}}</td>
						<td>${{Factura.Subtotal|intcomma|safe}}</td>
						<td>${{Factura.IVA|intcomma|safe}}</td>
						<td>${{Factura.Retencion|intcomma|safe}}</td>
						<td>${{Factura.Total|intcomma|safe}}</td>
						<td>${{Factura.Saldo|intcomma|safe}}</td>
						<td>{{Factura.Moneda|safe}}</td>
						<td>{{Factura.Status|safe}}</td>
						<td>{{Folios|index:forloop.counter0|safe}}</td>
						<td><input name="EvidenciaXML" type="hidden" data-facturaid="{{Factura.IDFactura|safe}}"  data-evidenciaxml="{{Factura.RutaXML|safe}}" data-isautorizada = "{{Factura.IsAutorizada}}"></td>
						<td></td>
						<td></td>
					</tr>
					{%endfor%}
				</tbody>
			</table>
			</div>
		</div>
	</div>
