{% load static %}
{% load humanize %}


<table class="table table-striped table-bordered nowrap" id="tablaDetalles" style="width:100%">
 <thead>
   <th>Folio viaje</th>
   <th>Fecha Descarga</th>
   <th>Subtotal</th>
   <th>IVA</th>
   <th>Retencion</th>
   <th>Total</th>
 </thead>
 <tbody>
  {% for Pendiente in Pendientes %}
  <tr>
   <td>{{Pendiente.Folio}}</td>
   <td>{{Pendiente.FechaDescarga|date:'Y/m/d'}}</td>
   <td>${{Pendiente.Subtotal|floatformat:"2"|intcomma}}</td>
   <td>${{Pendiente.IVA|floatformat:"2"|intcomma}}</td>
   <td>${{Pendiente.Retencion|floatformat:"2"|intcomma}}</td>
   <td>${{Pendiente.Total|floatformat:"2"|intcomma}}</td>
 </tr>
 {%endfor%}
</tbody>
</table>
