{% load humanize %}

			<table class="table table-striped table-bordered" id="TablaReporteMaster">
				<thead>
					<tr>
						<th>Folio</th>
						<th>Cliente</th>
						<th>Proveedor</th>
						<th>Fecha Descarga</th>
						<th>Moneda</th>
						<th>Estatus</th>
						<th>Ev Digital</th>
						<th>Ev Fisica</th>
						<th>Proyecto</th>
						<th>Concepto</th>
						<th>Tiene factura cliente</th>
						<th>Factura Cliente</th>
						<th>Costo Subtotal</th>
						<th>Costo IVA</th>
						<th>Costo Retencion</th>
						<th>Costo Total</th>
						<th>Tiene Factura proveedor</th>
						<th>Factura Proveedor</th>
						<th>MOP</th>
						<th>Precio Subtotal</th>
						<th>Precio IVA</th>
						<th>Precio Retencion</th>
						<th>Precio Total</th>
					</tr>
				</thead>
				<tbody>
					{% for Master in ReporteMaster %}
					<tr>
						<td>{{Master.Folio|safe}}</td>
						<td>{{Master.NombreCortoCliente|safe}}</td>
						<td>{{Master.NombreCortoProveedor|safe}}</td>
						<td>{{Master.FechaDescarga|date:'Y/m/d'|safe}}</td>
						<td>{{Master.Moneda|safe}}</td>
						<td>{{Master.Status|safe}}</td>
						<td>{{Master.IsEvidenciaDigital|safe}}</td>
						<td>{{Master.IsEvidenciaFisica|safe}}</td>
						<td>{{Master.Proyecto|safe}}</td>
						<td>{{Master.TipoConcepto|safe}}</td>
						<td>{{Master.IsFacturaCliente|safe}}</td>
						<td>{{Master.FolioFactCliente|default:""|safe}}</td>
						<td>${{Master.CostoSubtotal|intcomma|safe}}</td>
						<td>${{Master.CostoIVA|intcomma|safe}}</td>
						<td>${{Master.CostoRetencion|intcomma|safe}}</td>
						<td>${{Master.CostoTotal|intcomma|safe}}</td>
						<td>{{Master.IsFacturaProveedor|safe}}</td>
						<td>{{Master.FolioFactProveedor|default:""|safe}}</td>
						<td>${{Master.MOP|intcomma|safe|safe}}</td>
						<td>${{Master.PrecioSubtotal|intcomma|safe}}</td>
						<td>${{Master.PrecioIVA|intcomma|safe}}</td>
						<td>${{Master.PrecioRetencion|intcomma|safe}}</td>
						<td>${{Master.PrecioTotal|intcomma|safe}}</td>
					</tr>
					{%endfor%}
				</tbody>
			</table>
