{% load humanize %}

			<table class="table table-striped table-bordered" id="TablaReporteMaster">
				<thead>
					<tr>
						<th>Folio</th>
						<th>Cliente</th>
						<th>Proveedor</th>
						<th>Fecha Descarga</th>
						<th>Moneda</th>
						<th>Estatus</th>
						<th>Ev Digital</th>
						<th>Ev Fisica</th>
						<th>Proyecto</th>
						<th>Concepto</th>
						<th>Tiene Factura proveedor</th>
						<th>Factura Proveedor</th>
						<th>Estatus FacturaP</th>
						<th>SubtotalFacturaProveedor</th>
						<th>IvaFacturaProveedor</th>
						<th>RetencionFacturaProveedor</th>
						<th>TotalFacturaProveedor</th>
						<th>Costo Subtotal</th>
						<th>Costo IVA</th>
						<th>Costo Retencion</th>
						<th>Costo Total</th>
						<th>MOP</th>
						<th>Tiene factura cliente</th>
						<th>Factura Cliente</th>
						<th>Estatus FacturaC</th>
						<th>SubtotalFacturaCliente</th>
						<th>IvaFacturaCliente</th>
						<th>RetencionFacturaCliente</th>
						<th>TotalFacturaCliente</th>
						<th>Precio Subtotal</th>
						<th>Precio IVA</th>
						<th>Precio Retencion</th>
						<th>Precio Total</th>
						<th>CostoSubtotalAnterior</th>
						<th>CostoIVAAnterior</th>
						<th>CostoRetencionAnterior</th>
						<th>CostoTotalAnterior</th>
						<th>NuevoCosto</th>
						<th>NuevoCostoAccesorios</th>
						<th>NuevoCostoRecoleccion</th>
						<th>NuevoCostoRepartos</th>
						<th>NuevoCostoSubtotal</th>
						<th>NuevoCostoIVA</th>
						<th>NuevoCostoRetencion</th>
						<th>NuevoCostoTotal</th>
					</tr>
				</thead>
				<tbody>
					{% for Master in ReporteMaster %}
					<tr>
						<td>{{Master.Folio|safe}}</td>
						<td>{{Master.NombreCortoCliente|safe}}</td>
						<td>{{Master.NombreCortoProveedor|safe}}</td>
						<td>{{Master.FechaDescarga|date:'Y/m/d'|safe}}</td>
						<td>{{Master.Moneda|safe}}</td>
						<td>{{Master.Status|safe}}</td>
						<td>{{Master.IsEvidenciaDigital|safe}}</td>
						<td>{{Master.IsEvidenciaFisica|safe}}</td>
						<td>{{Master.Proyecto|safe}}</td>
						<td>{{Master.TipoConcepto|safe}}</td>
						<td>{{Master.IsFacturaProveedor|safe}}</td>
						<td>{{Master.FolioFactProveedor|default:""|safe}}</td>
						<td>{{Master.StatusFacturaProveedor|default:""|safe}}</td>
						<td>{{Master.SubtotalFacturaProveedor|default:0|intcomma|safe}}</td>
						<td>{{Master.IvaFacturaProveedor|default:0|intcomma|safe}}</td>
						<td>{{Master.RetencionFacturaProveedor|default:0|intcomma|safe}}</td>
						<td>{{Master.TotalFacturaProveedor|default:0|intcomma|safe}}</td>
						<td>${{Master.Subtotal|default:0|intcomma|safe}}</td>
						<td>${{Master.IVA|default:0|intcomma|safe}}</td>
						<td>${{Master.Retencion|default:0|intcomma|safe}}</td>
						<td>${{Master.Total|default:0|intcomma|safe}}</td>
						<td>${{Master.MOP|default:0|intcomma|safe|safe}}</td>
						<td>{{Master.IsFacturaCliente|safe}}</td>
						<td>{{Master.FolioFactCliente|default:""|safe}}</td>
						<td>{{Master.StatusFacturaCliente|default:""|safe}}</td>
						<td>{{Master.SubtotalFacturaCliente|default:0|intcomma|safe}}</td>
						<td>{{Master.IvaFacturaCliente|default:0|intcomma|safe}}</td>
						<td>{{Master.RetencionFactura|default:0|intcomma|safe}}</td>
						<td>{{Master.TotalFacturaCliente|default:0|intcomma|safe}}</td>
						<td>${{Master.SubtotalC|default:0|intcomma|safe}}</td>
						<td>${{Master.IVAC|default:0|intcomma|safe}}</td>
						<td>${{Master.RetencionC|default:0|intcomma|safe}}</td>
						<td>${{Master.TotalC|default:0|intcomma|safe}}</td>
						<td>${{Master.CostoSubtotalAnterior|default:0|intcomma|safe}}</td>
						<td>${{Master.CostoIVAAnterior|default:0|intcomma|safe}}</td>
						<td>${{Master.CostoRetencionAnterior|default:0|intcomma|safe}}</td>
						<td>${{Master.CostoTotalAnterior|default:0|intcomma|safe}}</td>
						<td>${{Master.NuevoCosto|default:0|intcomma|safe}}</td>
						<td>${{Master.NuevoCostoAccesorios|default:0|intcomma|safe}}</td>
						<td>${{Master.NuevoCostoRecoleccion|default:0|intcomma|safe}}</td>
						<td>${{Master.NuevoCostoRepartos|default:0|intcomma|safe}}</td>
						<td>${{Master.NuevoCostoSubtotal|default:0|intcomma|safe}}</td>
						<td>${{Master.NuevoCostoIVA|default:0|intcomma|safe}}</td>
						<td>${{Master.NuevoCostoRetencion|default:0|intcomma|safe}}</td>
						<td>${{Master.NuevoCostoTotal|default:0|intcomma|safe}}</td>
					</tr>
					{%endfor%}
				</tbody>
			</table>
