{% load humanize %}
{% load static %}
<div class="kt-subheader   kt-grid__item" id="kt_subheader">
	<div class="kt-container  kt-container--fluid ">
		<div class="kt-subheader__toolbar">
			<div class="kt-subheader__wrapper">
				<h3>Evidencias Proveedor</h3>
			</div>
		</div>
	</div>
</div>



<div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">
	<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
		<div class="kt-portlet kt-portlet--fit kt-portlet--head-noborder" id="TbPading">
			<table class="table table-striped table-bordered" id="TableEvidenciasProveedor">
				<thead>
					<tr>
						<th>Folio</th>
						<th>Fecha Descarga</th>
						<th>Evidencia Digital</th>
						<th>Recepcion Evidencia</th>
					</tr>
				</thead>
				<tbody>
					{% for Evidencias in EvidenciasxAprobar %}
					<tr data-idviaje ="{{Evidencias.XD_IDViaje}}" data-idviajebkg = "{{Evidencias.IDBro_Viaje}}" data-folio = "{{Evidencias.Folio}}">
						<td>{{Evidencias.Folio}}</td>
						<td>{{Evidencias.FechaDespacho|date:'Y/m/d'|safe}}</td>
						{% if "FTL" in Evidencias.Folio %}
						<td>{{Evidencias.IsEvidenciasDigitales}}</td>
						<td>{{Evidencias.IsEvidenciasFisicas}}</td>
						{% else %}
						<td>{{Evidencias.IsEvidenciaPedidos}}</td>
						<td>{{Evidencias.IsEvidenciaFisica}}</td>
						{% endif %}
					</tr>
					{%endfor%}
				</tbody>
			</table>
		</div>
	</div>
</div>
