#TbPading{
  padding: 12px 20px 15px 20px;
}

.dataTables_scrollHeadInner
{
  box-sizing: content-box !important;
  width: max-content !important;
  padding-right: 0px !important;
  /*display: initial;*/
}

footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #757376;
  z-index: 1051;
}

.modal-header {
    background-color: #d9dce65c;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    /*height: 40px;*/
 }
 .modal-content
 {
   border-radius: 20px;
 }

#exampleModalLabel{
  color: white;
}
#btnCancelarFiltro{
  margin: auto;
}
#btnAplicarFiltro{
  margin: auto;
}
.daterangepicker {
    z-index: 1051;
}
#folio{
    font-weight: bold;
}

.buttons-excel {
    background: #51A762;
    color: white;
    border-radius: 15px;
    top: -10px;
    width: 38px;
}

#estiloCheckbox {
	display: inline-block;
	width: 15px;
	height: 15px;
	margin: -1px 4px 0 0;
	vertical-align: middle;
	background-size: cover;
	cursor: pointer;
}
#see
{
  display: none;
}
#seeAlert
{
  display: none;
}
#seeFolioAndComen
{
  display: none;
}
#VerTotalModal{
  padding-left: 400px;
}


@media only screen and (min-width: 1300px) {
#conEvidencias{
  width: 400px;
  height: 350px;
}
#sinEvidencias{
  width: 400px;
  height: 350px;
}
#kt-scroll
{
  height: 440px;
}
}


#filtroxMesyAno
{
  display: none;
}

.DTFC_LeftBodyLiner{
  position: relative;
    top: -25px !important;
    left: 0px;
    overflow-y: visible !important;
    width: 96.4px;
    height: 137px;
    max-height: 137px;
}

.DTFC_LeftBodyWrapper
{
  position: relative;
  top: -13px !important;
  left: 0px;
  height: 137px;
  overflow: hidden;
}

.DTFC_LeftHeadWrapper
{
  position: relative;
  top: -12px !important;
  left: 0;
  overflow: hidden;
}

#contenedorSubirArchivosproveedor
{
  display: none;
}

.uppy-size--md .uppy-Dashboard-inner
{
  margin: auto;
}

.selectpicker
{
  width: auto;
}

/*
.dropdown-menu.show {

    transform: translate3d(0px, 0px, 0px) !important;
}

.dropdown-menu.inner.show
{
  margin-top: 27px !important;
  margin-bottom: 26866px !important;
}
*/
.dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-top-unround dropdown-menu-xl.show
{
  transform: translate3d(933px, 50px, 0px) !important;
}
