{% extends "Base.html" %}
{% load static %}
{% block activatePendientesEnviar %}
kt-menu__item--active
{% endblock %}
{% block ContadoresPendientesEnviar %}

<!--bloque para usuarios de transportistas-->
<div class="container py-4">
	<div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">
		<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
			<div class="kt-portlet kt-portlet--fit kt-portlet--head-noborder" id="TbPading">
				<div>
					<label>Folio: </label>
				</div>
					<div class="input-group mb-3">
					  <input type="text" class="form-control" placeholder="Buscar..." id="inputBuscarFolioProveedor" autocomplete="off">
					  <div class="input-group-append">
					    <button class="btn btn-outline-primary" type="button" id="buscarFolioProveedor">Buscar</button>
					  </div>
					</div>
			</div>
		</div>
	</div>
</div>


<div class="container" id="contenedorSubirArchivosproveedor">
	<div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">
		<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
			<div class="kt-portlet kt-portlet--fit kt-portlet--head-noborder" id="TbPading">
				<div class="container" id="WaitModalPEProveedor">
					<div class="row">
							<div class="col-sm-12 col-md-4">
								<strong>Folio: </strong> <label id="FolioConcepto"></label>
							</div>
							<div class="col-sm-12 col-md-4">
								<strong>Proveedor: </strong> <label id="ProveedorConcepto"></label>
							</div>
							<div class="col-sm-12 col-md-4">
								<strong>Fecha: </strong> <label id="FechaConcepto"></label>
							</div>
					</div>

					<div class="row py-4">
						<div class="col-sm-12 col-md-4">
							<label for="Folio">Folio Factura:</label>
							<input type="text" class="form-control" id="txtFolioFacturaP" name="FolioFactura" required>
						</div>
						<div class="col-sm-12 col-md-8">
							<label for="Comentarios">Comentarios:</label>
							<input type="text" class="form-control" id="txtComentariosP" name="Comentarios">
						</div>
					</div>

						<div class="form-row py-4">
							<div class="form-group col-sm-12 col-md-4">
								<label for="FechaFactura">Fecha Factura:</label>
							<div class="input-group date">
								<input type="text" class="form-control" name="FechaFactura" id="FechaFacturaP" autocomplete="off">
								<div class="input-group-append">
									<span class="input-group-text">
										<i class="la la-calendar"></i>
									</span>
								</div>
							</div>
							</div>

							<div class="form-group col-sm-12 col-md-4">
							<label for="FechaRevision">Fecha Revisi&oacute;n:</label>
							<div class="input-group date">
								<input type="text" class="form-control" name="FechaRevision" id="FechaRevisionP" autocomplete="off">
								<div class="input-group-append">
									<span class="input-group-text">
										<i class="la la-calendar"></i>
									</span>
								</div>
							</div>
							</div>

							<div class="form-group col-sm-12 col-md-4">
							<label for="FechaVencimiento">Fecha Vencimiento:</label>
							<div class="input-group date">
								<input type="text" class="form-control" name="FechaVencimiento" id="FechaVencimientoP" autocomplete="off">
								<div class="input-group-append">
									<span class="input-group-text">
										<i class="la la-calendar"></i>
									</span>
								</div>
							</div>
							</div>

						</div>

					<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid py-4">
						<div class="col-sm-12 col-lg-12">
							<div class="kt-portlet kt-portlet--height-fluid">
								<div class="kt-portlet__head" id="headUppyTitulo">
									<div class="kt-portlet__head-label">
										<h3 class="kt-portlet__head-title">
											PDF y XML
										</h3>
									</div>
								</div>
								<div class="kt-portlet__body">
									<div class="kt-uppy" id="archivosProveedor">
										<div  class="kt-uppy__dashboard"></div>
										<div class="kt-uppy__progress"></div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!--ver archivos subidos (PDF y XML)-->
				<div class="container">
					<div class="uploaded-files-proveedor">
						<h5>Archivos Subidos:</h5>
						<ol></ol>
					</div>
				 </div>
				 <div class="text-right">
					 <button type="button" name="button" class="btn btn-success" id="btnGuardarFacturaP">Guardar</button>
					 <button type="button" name="button" class="btn btn-danger" id="btnCerrarDivproveedor">Cancelar</button>
				 </div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--Fin bloque para usuarios de transportistas-->



<!-- bloque para usuarios de logistik-->

<div class="kt-subheader kt-grid__item" id="kt_subheader">
	<div class="kt-container  kt-container--fluid ">

		<div>
			<span class="badge badge-pill badge-primary">Pendientes<span class="badge badge-pill badge-secondary"><strong>{{contadorPendientes}}</strong></span></span>
			<span class="badge badge-pill badge-danger"> Finalizados <span class="badge badge-pill badge-secondary"><strong>{{contadorFinalizados}}</strong></span></span>
		<!--	<span class="badge badge-pill badge-success"> Con evidencias <span class="badge badge-pill badge-secondary"><strong>12</strong></span></span>
			<span class="badge badge-pill badge-danger"> Sin evidencias <span class="badge badge-pill badge-secondary"><strong>12</strong></span></span>-->
		</div>

												<div class="kt-header__topbar-item kt-header__topbar-item--quick-panel" data-toggle="kt-tooltip" title="Filtros" data-placement="right">
													<span class="kt-header__topbar-icon" id="kt_quick_panel_toggler_btn">
														<button type="button" class="btn btn-brand btn-elevate btn-pill btn-elevate-air btn-sm" id="BtnOpenFiltros">Filtros</button>
													</span>
												</div>

											</div>
										</div>
										{% endblock %}

										{% block FiltrosPendientesEnviar %}
										<div id="kt_quick_panel" class="kt-quick-panel">
											<!--<a href="#" class="kt-quick-panel__close" id="kt_quick_panel_close_btn"><i class="flaticon2-delete"></i></a>-->

											<div class="kt-quick-panel__content">
												<div class="tab-content">
													<div class="tab-pane fade show kt-scroll active" id="kt_quick_panel_tab_notifications" role="tabpanel">
														<div class="kt-notification">
															<div class="container">
																<div class="form-group row">
																	<label class="col-8 col-form-label"><strong>Fecha por mes y año</strong></label>
																	<div class="col-sm-12 col-md-4 col-lg-3">
																		<span class="kt-switch kt-switch--outline kt-switch--icon kt-switch--info">
																			<label>
																				<input type="checkbox" id="chkMonthYear" name="fechaxMesyAño">
																				<span></span>
																			</label>
																		</span>
																	</div>
																</div>
															</div>
															<div class="container" id="filtroxMesyAno">
																<div class="row form-group">
																	<div class="col-md-7">
																		<label><strong>Mes:</strong></label>
																		<select class="selectpicker btn-xs btn" id="filtroxMes" multiple title="Mes" data-width="100%" data-live-search="true">
																			<option value="1">Enero</option>
																			<option value="2">Febrero</option>
																			<option value="3">Marzo</option>
																			<option value="4">Abril</option>
																			<option value="5">Mayo</option>
																			<option value="6">Junio</option>
																			<option value="7">Julio</option>
																			<option value="8">Agosto</option>
																			<option value="9">Septiembre</option>
																			<option value="10">Octubre</option>
																			<option value="11">Noviembre</option>
																			<option value="12">Diciembre</option>
																		</select>

																	</div>
																	<div class="col-md-5">
																		<label><strong>Año:</strong></label>
																		<select class="selectpicker btn-xs btn" id="filtroxAno" title="Año" data-width="100%" data-live-search="true">
																			<option value="2020">2020</option>
																			<option value="2019">2019</option>
																			<option value="2018">2018</option>
																			<option value="2017">2017</option>
																			<option value="2016">2016</option>
																		</select>
																	</div>
																</div>
															</div>
															<div class="kt-subheader__main" id="fechaRango">
																<label class="col-form-label col-lg-3 col-sm-12"><strong>Fecha: </strong></label>
																<div class="col-lg-12 col-md-8 col-sm-12">
																	<div class="kt-input-icon pull-right" id='kt_daterangepicker_2_modal'>
																		<input type="text" class="form-control " placeholder="Desde - Hasta" name="FiltroFecha" id="cboFechaDescarga">
																		<span class="kt-input-icon__icon kt-input-icon__icon--right"><span><i class="la la-calendar-check-o"></i></span></span>
																	</div>
																</div>
															</div>
															<label class="col-form-label col-lg-3 col-sm-12"><strong>Estatus: </strong></label>
															<div class="container">
																<select class="selectpicker" id="cboStatus" multiple name="Status" title="Selecciona un estatus" data-width="100%" data-live-search="true">
																	<option>Pendiente</option>
																	<option>Finalizado</option>
																	<option>Con evidencias</option>
																</select>
															</div></br>
															<div class="container">
																<label class="col-form-label col-lg-3 col-sm-12"><strong>Proveedor: </strong></label>
																<div>
																	<select class="selectpicker" id="cboProveedor" multiple name="Cliente" title="Selecciona un proveedor" data-width="100%" data-live-search="true">
																		{% for Proveedor in Proveedores %}
																			<option value="{{Proveedor.NombreComercial}}">{{Proveedor.NombreComercial}}</option>
																		{%endfor%}
																	</select>
																</div>
															</div></br>
															<div class="container">
																<div class="dropdown dropdown-inline" data-toggle="kt-tooltip" data-placement="left">
																	<div class="form-group col-1">
																		<label class="col-form-label col-lg-3 col-sm-12"><strong>Moneda: </strong></label>
																		<label class="kt-radio kt-radio--bold kt-radio--success">
																			<input type="radio" id="rdMXN" name="radio6" checked> MXN
																			<span></span>
																		</label>
																		<label class="kt-radio kt-radio--bold kt-radio--brand">
																			<input type="radio" id="rdUSD" name="radio6"> USD
																			<span></span>
																		</label>
																	</div>
																</div>
															</div></br>

															<div class="container">
																<div class="form-group">
																	<label>Campos de la tabla</label>
																	<div class="kt-checkbox-list">
																		<label class="kt-checkbox kt-checkbox--bold kt-checkbox--success">
																			<input type="checkbox" checked="checked" name="Fecha Descarga"> Fecha Descarga
																			<span></span>
																		</label>
																		<label class="kt-checkbox kt-checkbox--bold kt-checkbox--success">
																			<input type="checkbox" checked="checked" name="Subtotal"> Subtotal
																			<span></span>
																		</label>
																		<label class="kt-checkbox kt-checkbox--bold kt-checkbox--success">
																			<input type="checkbox" checked="checked" name="IVA"> IVA
																			<span></span>
																		</label>
																		<label class="kt-checkbox kt-checkbox--bold kt-checkbox--success">
																			<input type="checkbox" checked="checked" name="Retencion"> Retencion
																			<span></span>
																		</label>
																		<label class="kt-checkbox kt-checkbox--bold kt-checkbox--success">
																			<input type="checkbox" checked="checked" name="Total"> Total
																			<span></span>
																		</label>
																	</div>

																</div>
															</div>


															<div class="container py-4">
										            <div class="row justify-content-between">
										              <div class="col-4">
										              <button type="Submit" name="button" class="btn btn-brand btn-elevate btn-pill btn-elevate-air btn-sm float-right" id="btnAplicarFiltro">Aplicar</button>
										              </div>
										              <div class="col-4">
										              <button type="button" name="button" class="btn btn-danger btn-elevate btn-pill btn-elevate-air btn-sm" id="kt_quick_panel_close_btn">Cancelar</button>
										              </div>
										            </div>
															</div>
														</div>
													</div>
													<div class="tab-pane kt-quick-panel__content-padding-x fade kt-scroll" id="kt_quick_panel_tab_settings" role="tabpanel">
													</div>
												</div>
											</div>
										</div>
										{% endblock %}

										{% block PendientesEnviar %}
										<div id="divTablaPendientesEnviar">
											{% include "TablaPendientes.html" %}
										</div>
										{% endblock %}

										{% block SubirFactura %}

										<!-- modal subir facturas-->

										<div class="modal fade" id="kt_modal_2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
											<div class="modal-dialog modal-lg" role="document" id="WaitModalPE">
												<div class="modal-content">
													<div class="modal-header">
														<h5 class="modal-title" id="exampleModalLongTitle">Subir Facturas</h5>
														<button type="button" class="close" data-dismiss="modal" aria-label="Close" id="BtnCerrarSF">
														</button>
													</div>
													<div class="modal-body">
														<div class="kt-scroll" data-scroll="true" id="kt-scroll">
															<div class="tab-content" id="nav-tabContent">
																<ul class="nav nav-tabs" id="myTab" role="tablist">
																	<li class="nav-item">
																		<a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Factura</a>
																	</li>
																	<li class="nav-item">
																		<a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Viajes</a>
																	</li>

																	<div class="form-group row justify-content-end" id="VerTotalModal">
																		<label class="col-6 col-form-label kt-badge kt-badge--warning kt-badge--inline kt-badge--pill kt-badge--rounded">Total:</label>
																		<div class="col-3" id="verTotalPE">
																		</div>
																	</div>
																</ul>



																<div class="tab-content" id="myTabContent">
																	<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

																		<div class="container">
																				<label>Total:</label>
																				<div class="row">
																					<div class="col col-md-4">
																						<label for="Folio">Folio Factura:</label>
																						<input type="text" class="form-control form-control-sm" id="txtFolioFactura" name="FolioFactura" required>
																					</div>
																					<div class="col">
																						<label for="Comentarios">Comentarios:</label>
																						<input type="text" class="form-control form-control-sm" id="txtComentarios" name="Comentarios">
																					</div>
																				</div>
																			</div></br>


																		<div class="container">
																			<div class="form-row">
																				<div class="form-group col-sm-12 col-md-4">
																					<label>Fecha Factura:</label>
																					<div class="input-group date">
																						<input type="text" class="form-control" name="FechaFactura" id="FechaFactura" autocomplete="off">
																						<div class="input-group-append">
																							<span class="input-group-text">
																								<i class="la la-calendar"></i>
																							</span>
																						</div>
																					</div>
																				</div>

																			<div class="form-group col-sm-12 col-md-4">
																				<label for="FechaRevision">Fecha Revisi&oacute;n:</label>
																				<div class="input-group date">
																					<input type="text" class="form-control" name="FechaRevision" id="FechaRevision" autocomplete="off">
																					<div class="input-group-append">
																						<span class="input-group-text">
																							<i class="la la-calendar"></i>
																						</span>
																					</div>
																				</div>
																			</div>

																			<div class="form-group col-sm-12 col-md-4">
																				<label for="FechaVencimiento">Fecha Vencimiento:</label>
																				<div class="input-group date">
																					<input type="text" class="form-control" name="FechaVencimiento" id="FechaVencimiento" autocomplete="off">
																					<div class="input-group-append">
																						<span class="input-group-text">
																							<i class="la la-calendar"></i>
																						</span>
																					</div>
																				</div>
																			</div>
<!--																				<div class="input-group date col col-3">
																					<input type="number" class="form-control" name="TipoCambio" id="txtTipoCambio" value="1" step="any">
																					<div class="input-group-append">
																						<span class="input-group-text">
																							<i class="la la-dollar"></i>
																						</span>
																					</div>
																				</div>-->
																			</div>
																		</div>
																	</br>

																	<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">

																		<div class="col-lg-12">
																			<div class="kt-portlet kt-portlet--height-fluid">
																				<div class="kt-portlet__head">
																					<div class="kt-portlet__head-label">
																						<h3 class="kt-portlet__head-title">
																							PDF y XML
																						</h3>
																					</div>
																				</div>
																				<div class="kt-portlet__body">
																					<div class="kt-uppy" id="kt_uppy_1">
																						<div  class="kt-uppy__dashboard"></div>
																						<div class="kt-uppy__progress"></div>
																					</div>
																				</div>
																			</div>
																		</div>

																	</div>

																	<!--ver archivos subidos (PDF y XML)-->
																<div class="container">
																	<div class="uploaded-files">
																		<h5>Archivos Subidos:</h5>
																		<ol></ol>
																	</div>
																 </div>
																	</div>

																<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
																	<div class="container">
																		<div class="col" id="labelTipoCambio">
																			<label for="TipoCambio">Tipo Cambio: </label>
																		</div>
																			<div class="row justify-content-start" id="inputTipoCambio">
																			<div class="input-group date col col-3">
																				<input type="number" class="form-control" name="TipoCambio" id="txtTipoCambio" value="1" step="any">

																			 </div>
																			</div>
																		<div class="py-4">
																		<table class="display" id="ResumTable">
																			<thead>

																				<tr>
																					<th>Folio</th>
																					<th>Subtotal</th>
																					<th>Iva</th>
																					<th>Retencion</th>
																					<th>Total</th>
																					<th>Moneda</th>
																					<th>Total Cambio</th>
																				</tr>
																			</thead>
																			<tfoot>
																				<tr>
																					<td><strong>Total:</strong></td>
																					<td id="sub"></td>
																					<td id="iva"></td>
																					<td id="retencion"></td>
																					<td id="total"></td>
																					<td id="Moneda"></td>
																					<td id="totalCambio"></td>
																				</tr>
																			</tfoot>
																		</table>
																		</div>
																	</div>
																</div>
															</div>


														</div>
													</div>
												</div>
												<div class="modal-footer">
													<button type="button" id="btnGuardarFactura" disabled="true" class="btn btn-success btn-elevate">Guardar</button>
													<button type="button" class="btn btn-danger btn-elevate " data-dismiss="modal" id="cerrarModalSF">Close</button>
												</div>
											</div>
										</div>
									</div>
									</div>
									<!--end modal subir facturas-->


									<!-- modal ver evidencias -->
									<div class="modal fade" id="ModalVerEvidencias" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
										<div class="modal-dialog modal-md" role="document">
											<div class="modal-content">
												<div class="modal-header">
													<h5 class="modal-title" >Evidencias</h5>
													<button type="button" class="close" data-dismiss="modal" aria-label="Close">
														<span aria-hidden="true">&times;</span>
													</button>
												</div>
												<div class="modal-body">
													<div class="container">
														<div class="row">
															<a href="http://www.google.com.mx" target="_blank"><embed src='{% static "img\logo-cobrar.png" %}' height="100px" width="150px"></a>
														</div>
													</div>
												</div>

												<div class="modal-footer">
													<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
												</div>
											</div>
										</div>

									<!-- end modal ver evidencias -->

<!-- Fin bloque para usuarios de logistik-->

									{% endblock %}

									{% block scripts %}
									<script src='{% static "js/pages/FuncionesDinamicasCxP.js" %}'></script>
									<script src='{% static "js/pages/PendientesEnviarCxP.js" %}' type="text/javascript"></script>
									<script src='{% static "js/es_ES.min.js" %}'></script>
									{% endblock %}
